aiohttp==3.8.1
ffmpeg-python
mpld3
streamlit_authenticator
aiosignal==1.2.0
altair==4.2.0
amqp==5.1.1
appdirs==1.4.4
arabic-reshaper==2.1.3
argh==0.26.2
arrow==0.13.1
asgiref==3.5.2
astunparse==1.6.3
async-timeout==4.0.2
atomicwrites==1.4.0
backports.zoneinfo==0.2.1
bayesian-optimization==1.2.0
billiard==3.6.4.0
bkcharts==0.2
black==19.10b0
blinker==1.4
boto==2.49.0
Bottleneck==1.3.2
brotlipy==0.7.0
cachetools==5.2.0
decorator==4.4.2
Django==3.2.5
dukpy==0.2.3
entrypoints==0.3
esprima==4.0.1
et-xmlfile==1.1.0
fastcache==1.1.0
fonttools==4.25.0
fooof==1.0.0
fpdf==1.7.2
freetype-py==2.3.0
frozenlist==1.3.0
future==0.18.2

gevent==21.12.0
gitdb==4.0.9
GitPython==3.1.27
glfw==2.5.3
google-crc32c==1.3.0
google-resumable-media==2.3.3
googleapis-common-protos==1.56.2
httplib2==0.20.4
imageio-ffmpeg==0.4.7
javascripthon==0.11
Jinja2==3.1.2
json-tricks==3.15.5
jws==0.1.3
kombu==5.2.4
llvmlite==0.37.0
locket==0.2.1
macropy3==1.1.0b2
Markdown==3.3.6
MarkupSafe==2.1.1
mccabe==0.6.1
mistune==0.8.4
mkl-fft==1.3.1
mkl-service==2.4.0
mljar-mercury==1.0.1
mlxtend==0.19.0
mne==0.24.1
moviepy
mpmath==1.2.1
neurodsp==2.1.0
nltk==3.6.5
oauth2client==3.0.0
Panda3D==1.10.7
parfit==0.220
pathspec==0.7.0
patsy==0.5.2
pep8==1.7.1
Pillow==8.4.0
pkginfo==1.7.1
ply==3.11
proglog==0.1.10
protobuf==3.20.1
PsychoPy==2020.1.2
pyarrow==8.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycosat==0.6.3
pycryptodome==3.9.6
pygame==2.1.2
Pympler==1.0.1
PyOpenGL==3.1.6
pyosf==1.0.5
pyppeteer==1.0.2
streamlit-option-menu
pyreadline==2.1
pyserial==3.5
pytest==6.2.4
python-bidi==0.4.2
python-dotenv==0.19.2
python-gitlab==3.5.0
python-jwt==2.0.1
pyttsx3==2.90
pyvista==0.34.1
pyvistaqt==0.9.0
PyYAML==6.0
questplus==2019.4
requests==2.28.0
requests-toolbelt==0.9.1
rich==12.4.4
rsa==4.8
ruamel.yaml==0.16.3
scikit-image==0.18.3
scooby==0.5.12
screeninfo==0.8
semver==2.13.0
shortuuid==1.0.9
simplegeneric==0.8.1
sip==5.0.0
sklearn==0.0
smmap==5.0.0
sounddevice==0.4.4
SoundFile==0.10.3.post1
SQLAlchemy==1.4.27
sqlparse==0.4.2
statsmodels==0.12.2
stqdm==0.0.4
streamlit==1.11.0
tables==3.6.1
trycourier==4.2.0
twilio==7.9.3
typing_extensions==4.2.0
tzdata==2022.1
tzlocal==4.2
unicodecsv==0.14.1
urllib3==1.26.7
validators==0.20.0
vine==5.0.0
vtk==9.1.0
webencodings==0.5.1
websockets==10.3
whitenoise==5.3.0
wincertstore==0.2
wrapt==1.12.1
wslink==1.6.1

