body {
    color: #0000FF;
    background-color: #ffffff;
    font-family: sans-serif;

}



section[data-testid="stSidebar"] > div {

    background-color: #3CB371;
    background-image: none;
    font-family: sans-serif;
}

